{% extends "layout_unbranded.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">GOV.UK prototype kit</a></li>
    </ol>
  </div> -->

  <h1 class="heading-large">Select your address</h1>

  <p>If your address isn't listed you can <a href="manual-address">add it manually</a>.</p>

  <form action="confirm-address" method="post" class="form">

    <div class="form-group">
      <fieldset>
        <div class="address-list">
          <label for="item-1" class="fake-radio">
            <input type="radio" id="item-1" name="selectedAddress" value="68">
            68 Whitehall, London SW1A 2AS
          </label>
          <label for="item-2" class="fake-radio">
            <input type="radio" id="item-2" name="selectedAddress" value="69">
            69 Whitehall, London SW1A 2AS
          </label>
          <!-- <label for="item-3" class="fake-radio">
            <input type="radio" id="item-3" name="selectedAddress" value="70">
            70 Whitehall, London SW1A 2AS
          </label> -->

          <label for="item-4" class="fake-radio">
            <input type="radio" id="item-4" name="selectedAddress" value="71">
            71 Whitehall, London SW1A 2AS
          </label>

          <label for="item-5" class="fake-radio">
            <input type="radio" id="item-5" name="selectedAddress" value="72">
            72 Whitehall, London SW1A 2AS
          </label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>


</main>

{% endblock %}
