{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Address prototypes</h1>


      <p>Prototypes for address lookup.</p>
      
      <h2 class="heading-medium"><a href="/option-2/delivery-address">Postcode with in-page results</a></h2>

      <p>
        Results are presented in-page after users have entered their postcode.
      </p>

      <h2 class="heading-medium"><a href="/option-1/delivery-address">Postcode with separate results</a></h2>

      <p>
        Results are presented on a separate page from search query.
      </p>

      

    </div>
  </div>
</main>

{% endblock %}


